body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: hsl(179, 62%, 43%);
    font-size: 24px;
    line-height: 2;
}

h2 {
    color: hsl(71, 73%, 54%);
    font-size: 18px;
}

h3 {
    color: hsl(204, 43%, 93%);
}

span {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
}

a {
    margin-top: 15px;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 7px;
}

.item-1 {
    padding: 20px 40px;
}

.item-1 p {
    color: hsl(218, 22%, 67%);
    line-height: 2;
}

.itemBottom {
    display: flex;
    flex-direction: row;
}

.item-2 {
    flex: 1;
    background-color: hsl(179, 62%, 43%);
    padding: 20px 40px;
}

.item-2 h3 + p {
    color: #79e4e0;
}

.item-2 p {
    color: rgb(160, 235, 233);
}

.item-3 {
    flex: 1;
    background-color: rgb(99, 201, 199);
    padding: 20px 40px;
}

.item-3 p {
    color: rgb(160, 235, 233);
    font-size: 14px;
    line-height: 1.5;
}

.BUTTON_JCO {
    line-height: 6px;
    height: 6px;
    width: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    background-color: #C0DF34;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_JCO:hover {
    background: #ADC930;
    border: solid #ADC930 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
 }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}

@media (max-width: 375px) {
    
    .container {
        max-width: 375px;
        overflow: auto;
    }
    .itemBottom {
        flex-direction: column;
    }
   
  }