body {
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-image: 
        url(images/bg-pattern-top.svg), 
        url(images/bg-pattern-bottom.svg);
    background-position: -50% 200%, 150% -100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
}

h1 {
    color: hsl(229, 23%, 23%);
    display: inline;
    font-size: 18px;
    margin-right: 10px;
}

h2 {
    color:hsl(0, 0%, 59%);
    display: inline;
    font-weight: 400;
    font-size: 18px;
}

hr {
    border-top: 0;
    color:hsl(0, 0%, 59%);   
}

p {
    color:hsl(0, 0%, 59%);
}

table {
    margin: 25px auto 0 auto;
}

td {
    color: hsl(0, 0%, 59%);
    font-size: 9px;
    letter-spacing: 2px;
    padding: 5px 20px 0;
    text-align:center;
}

th {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    padding: 0 20px;
}

.attribution { 
    line-height: 1.5;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration-line: none;
}

.box {
    background-color: white;
    background-image: url(images/bg-pattern-card.svg);
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 380px;
    margin: 100px auto;
    width: 350px;
}

.profile {
    margin: 25px auto;
    text-align: center;
}

.profile-img {
    border-radius: 100%;
    display: flex;
    position: relative;
    margin: 85px auto 0 auto;
    border: 5px solid white;
}

@media (max-width: 375px) {
    background-image: 
    url(images/bg-pattern-top.svg), 
    url(images/bg-pattern-bottom.svg);
    background-position: -30% 150%, 100% -80%;
    background-repeat: no-repeat;   
}
